body, html {
  font-family: 'Inconsolata', monospace;
  background-color: #fffff8;
  color: #111;
  font-size: 0.938em;
  font-weight: 400;
  line-height: 1.45;
  background-color: #fffff8;
}

#wiki-content p {margin-bottom: 1.3em;}

#wiki-content h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

#wiki-content h1 {
  margin-top: 0;
  font-size: 3.998em;
}

#wiki-content h2 {font-size: 2.827em;}

#wiki-content h3 {font-size: 1.999em;}

#wiki-content h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

#wiki-wrapper.edit {
  margin-top: 2em;
}

#gollum-editor {
  padding: 1em 1em 0.4em;
}

#gollum-editor-help {
  font-size: 10px;
}

#wiki-content p, ol, ul {
  font-size: 1.5em;
}

#wiki-content hr {
  margin: 30px 0;
}

#head {
  border-bottom: none;
  margin: 0 0 1em;
}

#head ul.actions {
  padding-top: 11px;
}

#head #searchbar #searchbar-fauxtext #search-submit {
  display: none;
}

#head #searchbar {
  max-width: 300px;
}

#head #header {
  background-color: #f7f7e6;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 3em;
  color: #868686;
}

#head #header #homelink {
  margin: 0 2em 5px 0;
  font-size: 1.8em;
  background-color: #f7f7e6;
  font-weight: normal;
}

#head h1 {
  font-size: 2.5em;
  padding: 0 0 0 0.43em;
}

#header a {
  color: #868686;
  background-color: #f7f7e6;
}

.page #footer {
  padding-left: 1em;
}

.results #results ul {
  margin: 2em 0 0 2em;
}

textarea#gollum-editor-body {
  font-size: 16px;
}

.markdown-body pre {
  border-radius: none;
  border: none;
  padding: 16px;
}

.markdown-body code {
  font-size: 16px;
}

.markdown-body img {
  margin: 1em 0;
}

@media all and (min-width: 940px) {
  #head #header {
    margin-bottom: 6em;
  }
  #wiki-body {
    margin-bottom: 6em;
  }
  #head h1 {
    font-size: 3.998em;
    padding: 0 0 0 0.23em;
  }
  .page #footer {
    padding-left: 0;
  }
}

